In [13]:
import pandas as pd
import plotly.express as px
import json

In [ ]:
with open("20190919 is24_resultlist.json") as file:
    json_raw = file.read()

In [ ]:
data = json.loads(json_raw)

In [ ]:
from flatten_dict import flatten

In [ ]:
def underscore_reducer(k1, k2):
    if k1 is None:
        return k2
    else:
        return k1 + "_" + k2

In [ ]:
dataFlat = [flatten(obj, reducer=underscore_reducer) for obj in data]

In [ ]:
df = pd.DataFrame(dataFlat)

In [ ]:
featureColumns = ["area_areaRangeFrom",
                  "area_numberOfRooms",
                  "description_title",
                  "priceInformation_primaryPrice",
                  "type_estateType",
                  "type_transferType",
                  "type_estateDetailType",
                  "type_useType",
                 "localization_address_city",
                 "localization_address_region",
                 "localization_address_state",
                  "localization_address_zip"
                 ]

In [ ]:
print("Kategorien")
set([elem.split("_")[0] for elem in list(df.columns)])

In [ ]:
kategorie = "type"
set( [elem for elem in list(df.columns) if elem.split("_")[0] == kategorie])

In [ ]:
df = df[featureColumns]

#### Verteilung der Objekte nach Orten

In [ ]:
def clean_zip(x):
    if len(value.strip())>4:
        print("Größer4", index, value)
        result =  x.strip()
    else:
        try:
            result = int(x)
        except ValueError:
            #print("ValueError",index, value)
            result = None
    return result

In [ ]:
df['localization_address_zip'] = df['localization_address_zip'].apply(clean_zip).fillna(0).astype('int')

In [ ]:
df['localization_address_zip'] = df['localization_address_zip'].fillna(0).astype('int')

df = df[df['localization_address_zip'] <= 9999]

In [ ]:
df.to_csv("is24_flat.csv", index=None)

In [14]:
df = pd.read_csv("is24_flat.csv")

In [48]:
states = ['Tirol', 'Burgenland']
#types = ['BUY', 'RENT']
types = []
df[(df['localization_address_state'].isin(states)) & df['type_transferType'].isin(types)].shape

(0, 12)

(1323, 12)

In [16]:
df.filter(items = ['localization_address_state'])

      localization_address_state
0                            NaN
1                            NaN
2                          Tirol
3                     Burgenland
4                            NaN
...                          ...
72986                        NaN
72987                        NaN
72988                        NaN
72989                        NaN
72990                        NaN

[72991 rows x 1 columns]

In [12]:
df['priceInformation_primaryPrice'].max()

100000000.0